.contact {
  width: 100vw;
  background-color: #f5f5f5;
  padding: 1em 0;
}

.contact__heading .h5 {
  margin-top: 1em;
  margin-bottom: 2em;
}

.contact__details ul {
  display: flex;
  column-gap: 1.5em;
}

@media only screen and (max-width: 980px) {
  .contact__heading .h5 {
    margin: 1em;
  }

  .contact__details ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    row-gap: 0.8em;
  }
}
